openapi: 3.2.0
info:
  title: WorkBoard External Public Webhook API
  description: This is the API documentation for WorkBoard's version 1 REST API.
  version: 1.0.0
servers:
- url: https://demo.biz.wobo-int.com/wb/apis
  description: Demo Server
tags:
- name: Webhook
paths:
  /hook/{webhook_hash}:
    post:
      summary: Update progress on Metrics using webhooks
      description: 'WorkBoard''s webhooks allow you to post data from your external applications into WorkBoard by sending a formatted JSON payload via HTTP POST request to the secret WorkBoard URL generated for your application. Currently WorkBoard only supports incoming webhooks; outgoing webhooks will be available soon.

        WorkBoard''s incoming webhooks offer an easy way to update metric data in WorkBoard using a simple HTTP post.


        For more advanced applications which you can customize per your requirements, you can code your own POST requests using the global hook URL which WorkBoard will generate for you.


        **Click here** to get your webhook URL.


        Note: If you haven''t yet tried one of our pre-built connectors, you will first need to click one of the three options (Google Spreadsheet, Microsoft Excel, or From CSV) to generate your private `webhook_hash`.'
      tags:
      - Webhook
      parameters:
      - name: webhook_hash
        description: The hash you can retrieve by **[clicking here](https://www.myworkboard.com/wb/user/profile/edit?do=mgApp)**
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                metric_id:
                  type: string
                metric_data:
                  type: string
                metric_comment:
                  type: string
              required:
              - metric_id
              - metric_data
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    readOnly: true
                  message:
                    type: string
                    readOnly: true
                  data:
                    type: object
                    readOnly: true
                    properties:
                      totalCount:
                        type: integer
                      hook:
                        type: array
                        items: {}
        '400':
          description: Unauthorized / Invalid
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    description: 'false'
                  error:
                    type: string
                  error_description:
                    type: string
                example:
                  success: false
                  error: ''
                  error_description: ''
      operationId: postHookByWebhookHash
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
